<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div>
                <div class="panel panel-default">
                    <div class="text-center header">Our Office</div>
                    <div class="panel-body text-center">
                        <h4>Address</h4>
                        <div>
                            Tallin <br />
                            ESTONIA<br />
                            info@secdevups.com<br />
                        </div>
                        <h4>Phone</h4>
                        <div>
                            +372 5344 2032<br />

                        </div>
                        <hr />
                        <div id="map_canvas" class="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>









<style>
    .map {
        min-width: 300px;
        min-height: 300px;
        width: 100%;
        height: 100%;
    }

    .header {
        background-color: #F5F5F5;

        height: 70px;
        font-size: 27px;
        padding: 10px;
    }
</style>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initialize"></script>

<script>
    var directionsDisplay,
        directionsService,
        map;

    function initialize() {
        var directionsService = new google.maps.DirectionsService();
        directionsDisplay = new google.maps.DirectionsRenderer();
        var chicago = new google.maps.LatLng(59.436962, 24.753574);
        var mapOptions = { zoom:7, mapTypeId: google.maps.MapTypeId.ROADMAP, center: chicago }
        map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        directionsDisplay.setMap(map);
    }

</script>